@using MoneyKeeper.Models.Enum
@model IEnumerable<MoneyKeeper.Models.Money>
@{
    var date = Model.Select(x => x.Date); 
    var mc = Model.Select(x => x.MoneyCategory);
}

<h1>Money History</h1>
@using (Html.BeginForm("MoneyHistory", "Main", FormMethod.Get))
{
    <input type="hidden" name="Category" value="@mc.First()" />
    @Html.TextBoxFor(model => date, new { type = "date", @class = "form-control sort-form w-25" })
    <button type="submit" class="btn btn-primary">Check</button>
}
@if (ViewBag.IsEmpty == true)
{
    
    <h4> no Data </h4>
}
else
{
    <table id="myTable">
        <thead>
            <tr>
                <th>Price</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(model => item.Price)</td>
                    <td>@item.Date.ToString("dd-MM-yyyy")</td>
                    <td>
                        <a href="@Url.Action("EditMoney", "Main", new {Id = item.Id })" class="delete-svg">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" class="pen-icon" viewBox="0 0 16 16">
                                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z" />
                            </svg>
                        </a>
                        <a href="@Url.Action("DeleteMoney", "Main", new {Id = item.Id })">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" class="trash-icon" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                            </svg>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}